<html>
    <head>
        <title>
        <%= title %>
        </title>
    </head>
    <body>
        <h1>Playground</h1>
        <ul>
            <% for(let i=0;i<10;i++){ %>
                <li>
                    <%= i %>
                </li>
           <% } %>
        </ul>
        <% if true { %>
            <h1>IT'S true</h1>
        <%} else{ %>
             <p>false</p>
      <%  } %>
    </body>
</html>